body {
  display: flex;
min-height: 100vh;
flex-direction: column;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;

}

.container {
  text-align: center;
display: flex;
align-content: space-around;
flex-direction: column;
}

.userReq {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  border: 3px solid grey;
  width: 99%;
}

.userInfoReq {
display: flex;
flex-direction: row;
align-items: baseline;
width: 100%;
}

.dropdown-menu {
display: none;
}

.date{
  align-self: flex-end;
}

nav {
  border-top: 3px solid grey;
  border-bottom: 3px solid grey;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  border: 3px solid grey;
}

section {
display: flex;
 border: 5px solid black;
 flex-direction: column;
align-items: center;
}


footer {
border: 5px solid black;
}

 .requests, .response {
border-bottom: 1px solid grey;

}




@media (min-width: 800px) {
  nav{
    display: none;

  }

.container{
 flex-direction: row;
border: 5px solid grey;
margin: 50px;
justify-content: space-between;
  }

.makeSubmission {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dropdown-menu {
  display: inline-block;
  align-self: flex-end;
  border: 5px solid grey;
  margin: 10px 25px;

}


  .dropdown {
  position: relative;
  display: inline-block;
  border: 5px solid grey;

  }

  .dropdown-content {
    display: none;
    position: absolute;
    border: 3px solid grey;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    left: -95%;
    background-color: white;
  }

  .dropdown:hover .dropdown-content {
  display: block;
  }

.hamburger {

  width: 100px;
  height: 50px;

}

  .main-title {
align-self: flex-start;
margin-left: 25px;
border: 5px solid grey;
  }

.makeSubmission{
margin: 0 15%;
}

  main {
display: flex;
flex-direction: column;
align-items: center;
margin: 0 20%;

}
